# excluir archivo de sistema de MAC
.DS_Store

# excluir imágenes
assets/imagenes/*

# excluir el contenido de las imágenes pero no el folder
!assets/imagenes/.gitkeep

# excluir ajustes de vscode
.vscode

# excluir dependencias de node
node_modules
package-lock.json
npm-debug.log
